<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>
<!-- auth-page wrapper -->
<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a href="index" class="d-inline-block auth-logo">
                                <img src="../../assets/images/logo-light.png" alt="" height="100">
                            </a>
                        </div>
                        <p class="mt-3 fs-15 fw-medium">Công Nghệ Là Không Giới Hạn</p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Tạo mật khẩu mới</h5>
                                <p class="text-muted">Mật khẩu mới của bạn phải khác với mật khẩu cũ.
                                </p>
                            </div>

                            <div class="p-2">
                                <!-- thong bao -->
                                <%- include('../../partials/alert.ejs') %>
                                
                                <form action="/auth/confirmpass" method="post">
                                    <div class="mb-3">
                                        <label class="form-label" for="password-input">Mật khẩu mới</label>
                                        <div class="position-relative auth-pass-inputgroup">
                                            <input type="password" class="form-control pe-5 password-input"
                                                onpaste="return false" placeholder="Nhập mật khẩu mới" id="password-input"
                                                aria-describedby="passwordInput" name="password"
                                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                            <button
                                                class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                type="button" id="password-addon"><i
                                                    class="ri-eye-fill align-middle"></i></button>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="confirm-password-input">Xác nhận mật khẩu</label>
                                        <div class="position-relative auth-pass-inputgroup">
                                            <input type="password" class="form-control pe-5 password-input mb-3"
                                                onpaste="return false" placeholder="Xác nhận mật khẩu" name="confirm_password"
                                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                id="password-input" required>
                                            <button
                                                class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                type="button" id="confirm-password-input"><i
                                                    class="ri-eye-fill align-middle"></i></button>
                                        </div>
                                    </div>

                                    <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                        <h5 class="fs-13">Mật khẩu phải chứa:</h5>
                                        <p id="pass-length" class="invalid fs-12 mb-2">Ít nhất <b>8 ký tự</b></p>
                                        <p id="pass-lower" class="invalid fs-12 mb-2">Phải có <b>ký tự</b> thường (a-z)
                                        </p>
                                        <p id="pass-upper" class="invalid fs-12 mb-2">Phải có <b>ký tự</b> hoa (A-Z)</p>
                                        <p id="pass-number" class="invalid fs-12 mb-0">Phải có <b>số</b> (0-9)</p>
                                    </div>
                                    <div class="mt-4">
                                        <button class="btn btn-success w-100" type="submit">Xác nhận</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0">Bạn đã nhớ mật khẩu...? <a href="/auth/signin"
                                class="fw-semibold text-primary text-decoration-underline"> Đăng nhập ngay </a> </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy; <script>
                                document.write(new Date().getFullYear())
                            </script> THACSO <i class="mdi mdi-heart text-danger"></i> ONWEB.asia</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->
<%- contentFor('FooterJs') %>
<!-- particles js -->
<script src="../../assets/libs/particles.js/particles.js"></script>

<!-- particles app js -->
<script src="../../assets/js/pages/particles.app.js"></script>

<!-- password-addon init -->
<script src="../../assets/js/pages/passowrd-create.init.js"></script>