<%if(locals.success_messages != ''){%>
    <div class="alert alert-success border-0 alert-dismissible">
        <!-- <button type="button" class="close" data-dismiss="alert"><span>×</span></button> -->
        <%= locals.success_messages %>
    </div><br>
<%}%>
<%if(locals.error_messages != ''){%>
    <div class="alert alert-danger border-0 alert-dismissible">
        
        <%= locals.error_messages %>
    </div><br>
<%}%>