<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/dashboard" class="logo logo-dark">
            <span class="logo-sm">
                <img src="../../assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="../../assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/dashboard" class="logo logo-light">
            <span class="logo-sm">
                <img src="../../assets/images/logo-light.png" alt="" height="28">
            </span>
            <span class="logo-lg">
                <img src="../../assets/images/logo-light2.png" alt="" height="34">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/list/list" data-bs-toggle="" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bx-sitemap"></i>
                        <span data-key="t-dashboards">Quản lý nhóm khách hàng</span>
                    </a>
                    <a class="nav-link menu-link" href="/job/list" data-bs-toggle="" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bx-briefcase"></i>
                        <span data-key="t-dashboards">Quản lý ngành nghề</span>
                    </a>
                    <a class="nav-link menu-link" href="/contact/list" data-bs-toggle="" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-contacts-line"></i>
                        <span data-key="t-dashboards">Quản lý khách hàng</span>
                    </a>
                    <a class="nav-link menu-link" href="/company/list" data-bs-toggle="" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-building-line"></i>
                        <span data-key="t-dashboards">Quản lý doanh nghiệp</span>
                    </a>
                    <a class="nav-link menu-link" href="/usermanual/forms-wizard" data-bs-toggle="" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-earth-line"></i>
                        <span data-key="t-dashboards">Hướng dẫn sử dụng</span>
                    </a>
                    <a class="nav-link menu-link" href="#" data-bs-toggle="" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class=" ri-qr-code-line"></i>
                        <span data-key="t-dashboards">QR</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>