<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_contacts_add" aria-labelledby="offcanvas_contacts_add">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title text-muted text-uppercase" id="offcanvas_contacts_add">Thêm khách hàng</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <form action="/contact/addContact" method="post">
        <div class="offcanvas-body p-0 overflow-hidden">
            <div data-simplebar style="height: calc(100vh - 150px);">
                <div class="acitivity-timeline p-4">
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <div class="mb-2">
                                <label for="full_name" class="form-label">Tên khách hàng <span class="text-danger">*</span></label>
                                <input type="text" id="full_name" name="full_name" class="form-control"
                                    placeholder="Nhập tên khách hàng" required />
                            </div>
                            <div class="mb-2">
                                <label for="mobile" class="form-label">Số điện thoại <span class="text-danger">*</span></label>
                                <input type="number" id="mobile" name="mobile" class="form-control"
                                    placeholder="Nhập số điện thoại" required />
                            </div>
                            <div class="mb-2">
                                <label for="email" class="form-label">
                                    Email</label>
                                <input type="email" id="email" name="email" class="form-control"
                                    placeholder="Nhập email" />
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="list_id" class="form-label">Nhóm Khách Hàng</span></label>
                            <select class="form-control" name="list_id" id="list_id">
                                <option class="text-center" value="0" selected disabled>-- Chọn nhóm khách --</option>
                                <% listFinal.forEach(i=> {%>
                                    <option value="<%=i.id%>">
                                        <%= i.full_name%>
                                    </option>
                                    <%});%>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="company_id" class="form-label">Doanh Nghiệp</label>
                            <select class="form-control" name="company_id" id="company_id">
                                <option class="text-center" value="0" selected disabled>-- Chọn Doanh nghiệp --</option>
                                <% companys.forEach(i=>{%>
                                    <option value="<%=i.id%>">
                                        <%= i.full_name%>
                                    </option>
                                    <%});%>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-success" id="add-btn">Thêm</button>
            </div>
        </div>  
    </form>
</div>