<div class="modal fade zoomIn" id="offcanvas_delete_contact_<%=contactCompany.id%>" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" id="btn-close"></button>
            </div>
            <div class="modal-body p-5 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px">
                </lord-icon>
                <form action="/company/detail/<%=contactCompany.id%>/delete_contact" method="post">
                    <div class="mt-4 text-center">
                        <h4 class="fs-semibold">Bạn chắc chắn muốn xóa khách hàng này khỏi công ty?</h4>
                        <p class="text-muted fs-14 mb-4 pt-1">khách hàng sẽ bị xóa khỏi cơ sở dữ liệu.</p>
                        <div class="hstack gap-2 justify-content-center remove">
                            <button type="submit" class="btn btn-danger" id="delete-record">Vâng, Xóa</button>
                            <button type="button" class="btn btn-link link-success fw-medium text-decoration-none"
                                data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Đóng
                            </button>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</div>